services:
  - type: web
    name: fastapi-app
    env: python
    buildCommand: |
      pip install -r requirements.txt
      python -m playwright install --with-deps
    startCommand: uvicorn main:app --host 0.0.0.0 --port 10000
    runtime: python-3.10.14
